<div class="About">
  <h2>Stackets About Us</h2>
  <p>Stackets will save developers a lot of time and will help them to minimize bugs when introducing new features</p>

  <h2>How to Get Started</h2>

<h3>Snippet Users</h3>
Visit `http://stackets.herokuapp.com` and search for a term or keyword that describes the snippet of code you need. Once you have identified the appropriate snippet in search results, navigate to the snippet page to copy-and-paste the snippet, read the explanation, or review the code samples.

<h3>Content Contributors</h3>

You can contribute to Stackets by:

* Adding new snippets
* Adding code samples to existing snippets
* Creating or improving snippet explanations

<h2> Customer Quote </h2>
  > I couldn’t remember the exact format of an Express server, so I went to `stackets.herokuapp.com` and found exactly what I needed.

<h2> Closing and Call to Action </h2>
  > Go on and get started. Find what you need at `stackets.herokuapp.com`.

