<div class="About">

<h2>About Stackets</h2>

<p>Learning to code is a lifelong endeavor. As a full-stack developer, you are constantly adding new languages, frameworks and libraries to your repertoire. When a framework or technology is new, it is often difficult to find clear documentation, code samples and snippets. Stackets attempts to fill this void by creating a space where developers can crowdsource this information into easy to understand reference materials.</p>

<h2>How to Get Started</h2>

<h3>Snippet Users</h3>

<p><a ui-sref="search">Search</a> for a term or keyword that describes the snippet of code you need. Once you have identified the appropriate snippet in search results, navigate to the snippet page to copy-and-paste the snippet, read the explanation, or review the code samples.</p>

<h3>Content Contributors</h3>

<p>You can contribute to Stackets by:</p>

<ul>
  <li><a ui-sref="add">Adding new snippets</a></li>
  <li>Adding code samples to existing snippets</li>
  <li>Creating or improving snippet notes</li>
</ul>

<h2>The Team</h2>
Product Owner: Danya Smith <br>
Scrum Master: Jason Kim <br>
Sr. Software Engineer: Joanna Wheeler <br>
Sr. Software Enggineer: Lou Kaileh <br>

<h2>Reviews</h2>

<blockquote>I couldn’t remember the exact format of an Express server, so I went to `stackets.herokuapp.com` and found exactly what I needed.</blockquote>
