<form name="addSnippetForm">
  <div class="form-group col-md-12">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" ng-model="snippet.title">
  </div>
  <div class="form-group col-md-6">
    <label for="topic">Topic</label>
    <select class="form-control" ng-model="snippet.TopicId">
      <option ng-repeat="topic in topics" value="{{topic.id}}">{{topic.name}}</option>
    </select>
  </div>
    <div class="form-group col-md-6">
    <label for="language">Language</label>
    <select class="form-control" ng-model="snippet.LanguageId" ng-change="setAceEditorLang(language.name)">
      <option ng-repeat="language in languages" value="{{language.id}}">
        {{language.displayname}}
      </option>
    </select>
  </div>
  <div class="form-group col-md-12">
    <label for="snippet">Snippet</label>
    <div ui-ace="{ onLoad: aceLoaded }" id="editor" ng-model="snippet.snippet"></div>
  </div>
  <div class="form-group col-md-12">
    <label for="notes">Notes</label>
    <textarea id="notes" class="form-control" rows="10" ng-model="snippet.notes"></textarea>
  </div>
  <hr style="border: 1px solid red;">
  <div class="form-group col-md-12">
    <div class="input-group">
      <label class="control-label" >Tags:</label><br />
      <fieldset class="pull-right">
        <label ng-repeat="tag in tags" for="{{tag}}" class="col-md-2">&nbsp;
          <input type="checkbox" class="pull-left" name="tag.name" id="{{tag.id}}" ng-model="snippet.tags[tag.id]" />
          {{tag.tag}}
        </label>
      </fieldset>
    </div>
  </div>
  <hr style="border: 1px solid red;">
  <div class="form-group col-md-3">
    <label for="notes">Categories</label>
    <p>Categories</p>
  </div>
  <div class="form-group col-md-3">
    <label for="notes">Sub Categories</label>
    <p>Sub Categories</p>
  </div>
  <div class="form-group col-md-6">
    <label for="resourceUrl">Enter Resource URLs (hit enter to add)</label>
    <input type="url" class="form-control" id="resourceUrl" ng-keypress="addResource($event)">
    <p class="add-snippet-added-resources-label">Added Resources:</p>
    <span ng-repeat="url in resourceUrls">
      <p ng-click="removeResource($index)"><span class="add-snippet-added-resources-item">{{url}} <span class="glyphicon glyphicon-remove-circle"></span></span></p>
    </span>
  </div>
  <div class="form-group col-md-12 text-right">
    <button type="button" class="btn btn-default" ng-click="addSnippet(addSnippetForm)">Submit</button>
  </div>
</form>
