<div ng-controller='FeaturedSnippetController'>
  <h3>Featured Snippet</h3>
  <table class='table table-striped'>
    <caption>{{ featuredSnippetsTitle }}</caption>
    <thead>
    </thead>
    <tbody>
      <tr >
        <td><img src=''></td>
        <td>{{ snippet.title }}</td>
      </tr>
      <tr>
        <td>{{ snippet.TopicId }}</td>
        <td>{{ snippet.shortDescription }}</td>
      </tr>
      <tr>
        <td>{{ snippet.snippet }}</td>
      </tr>
      <tr>
        <td>{{ snippet.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
