<div ng-controller='FeaturedSnippetController'>
  <h3>Featured Snippet</h3>
  <table class='table table-striped'>
    <caption>{{ featuredSnippetsTitle }}</caption>
    <thead>
    </thead>
    <tbody>
      <tr >
        <td><img src=''></td>
        <td>{{ snippet.title }}</td>
      </tr>
      <tr>
        <td><b>Topic: </b>{{ snippet.Topic }}</td>
        <td><b>Description: </b>{{ snippet.shortDescription }}</td>
      </tr>
      <tr>
        <td><pre>{{ code }}</pre></td>
      </tr>
      <tr>
        <td>{{ snippet.description }}</td>
      </tr>
      <tr>
        <td>{{ snippet.explanation }}</td>
      </tr>  
    </tbody>
  </table>
</div>
