<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="thumbnail">
      <div ui-ace="{ onLoad: aceLoaded }" id="editor" ng-model="code"></div>
      <div class="caption">
        <h3><span class="snippet-card-heart"><div ng-if="snippet.id"><favorite snippetid={{snippet.id}}></favorite></div></span>{{ snippet.title }}</h3>
        <p><img src="{{ snippet.user.image }}" class="snippet-card-avatar" alt="">{{snippet.user.name}}</p>
        <p>{{ snippet.notes}}</p>
        <p class="snippet-card-resource-heading">Resources</p>
        <div ng-repeat="resource in snippet.resources">
          <p class="snippet-card-resource"><a href="{{resource.url}}" target="_blank">{{ resource.url }}</a></p>
        </div>
        <p class="text-right"><span class="label label-default">{{ snippet.category}} / {{ snippet.subcategory }}</span></p>
      </div>
    </div>
  </div>
</div>
