<h2>{{ snippet.title }} <span class="label label-default">{{snippet.Language}}</span></h2>

<div class="row">
    <div class="col-md-7">
        <h3>Code Snippet</h3>
        <div ui-ace="{ onLoad: aceLoaded }" id="editor" ng-model="code"></div>
        <h3>Code Samples</h3>
        <div ui-ace="{ onLoad: aceLoaded2 }" id="editor2" ng-model="codeSample"></div>
    </div>

    <div class="col-md-5">
        <h3>Topic</h3>
        <p> {{ snippet.Topic}}</p>
        <h3>Notes</h3>
        <p>{{ snippet.notes}}</p>
        <h3>Resources</h3>
        <div ng-repeat="url in snippet.resources">
          <p><a href="{{ url.url }}" target="_blank">{{ url.url }}</a></p>
        </div>
        <h3>Add to Favorites</h3>
        <div ng-class="heartClass" ng-click="toggleFavorite()" aria-hidden="true">
          <span class="sr-only">Click to add to favorites</span>
        </div>
    </div>
</div>
