<h4>{{ snippet.category}} > {{ snippet.subcategory }}</h4>
<h2>{{ snippet.title }}</h2>

<div class="row">
  <div class="col-md-7">
    <div ui-ace="{ onLoad: aceLoaded }" id="editor" ng-model="code"></div>
    <div>Added by: {{snippet.user.name}}</div>
  </div>

    <div class="col-md-5">
      <h3>Notes</h3>
      <p>{{ snippet.notes}}</p>
      <h3>Resources</h3>
      <div ng-repeat="url in snippet.resources">
        <p><a href="{{ url.url }}" target="_blank">{{ url.url }}</a></p>
      </div>
      <h3>Add to Favorites</h3>
      <div ng-class="heartClass" ng-click="toggleFavorite()" aria-hidden="true">
        <span class="sr-only">Click to add to favorites</span>
      </div>
      <span ng-hide="totalFavorites === 0">{{totalFavorites}}</span>
    </div>
</div>
