.add-snippet-added-resources-label {
  margin-top: 10px;
  font-weight: bold;
}

.add-snippet-added-resources-item {
  padding: 5px;
}

.add-snippet-added-resources-item:hover {
  background-color: #D3D3D3;
  cursor: pointer;
}

/*FAVORITE*/
.glyphicon-heart-empty, .glyphicon-heart {
  font-size: 21px;
  cursor: pointer;
}
