.ace_gutter, .ace_content {
  padding: 5px;
}

input.add-snippet-url {
  margin-bottom: 10px;
}

.add-snippet-added-resources-item {
  padding: 5px;
}

.add-snippet-added-resources-item:hover {
  background-color: #D3D3D3;
  cursor: pointer;
}

/*FAVORITE*/
.glyphicon-heart-empty, .glyphicon-heart {
  font-size: 21px;
  cursor: pointer;
}

ul.face-nav {
	margin-bottom: 0;
	padding-left: 0;
	margin-right: 40px;
}

.navbar-default .navbar-nav > li > a.login-button {
	background-color: rgba(44, 62, 80, 0.62);
}

.navbar-default .navbar-nav > li > a.logout-button {
	background-color: rgba(44, 62, 80, 0.62);
	color: red;
}

.navbar-default .navbar-nav > li > a.login-button:hover {
	color: lightblue;
}

div.overlay {
	background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}
    
div.overlay div.login-frame {
	background: white;
	margin-top: 8%;
    max-width: 40%;
    padding: 20px 33px;
}

div.overlay div.login-frame > div.close-wrapper {
	text-align: right;
	width: 100%;
	margin-bottom: 35px;
	padding-left: 0;
}

div.overlay div.login-frame > div.close-wrapper > h3 {
	margin: 0;
	padding-left: 0;
}

div.overlay div.login-frame > div.close-wrapper > span.close-span {
	background: transparent;
    border-radius: 5px;
    padding: 3px 11px;
    color: grey;
    border: 1px solid grey;
}

div.overlay div.login-frame > div.close-wrapper > span.close-span:hover {
	cursor: pointer;
}

div.overlay div.login-frame > form  {
	margin-bottom: 25px;
}

div.overlay div.login-frame > form > div.button-container {
	margin: 25px 15px;
}

div.overlay div.login-frame > form > div.button-container > button[type="submit"] {
	width: 100%;
}

div.social-buttons {

}

div.social-buttons .row {
	margin: 10px 0;
}

div.social-buttons .row > button {
	width: 100%;
	border: 0;
	border-radius: 5px;
	padding: 10px 0;
}

div.social-buttons .row > button.facebook-link {
	background: #3b5998;
}

div.social-buttons .row > button {
	background: #767676;
}

div.social-buttons .row > button > a {
	width: 100%;
	margin: 0;
	color: white;
}