.ace_gutter, .ace_content {
  padding: 5px;
}

input.add-snippet-url {
  margin-bottom: 10px;
}

.add-snippet-added-resources-item {
  padding: 5px;
}

.add-snippet-added-resources-item:hover {
  background-color: #D3D3D3;
  cursor: pointer;
}

/*FAVORITE*/
.glyphicon-heart-empty, .glyphicon-heart {
  font-size: 21px;
  cursor: pointer;
}

ul.face-nav {
	margin-bottom: 0;
	padding-left: 0;
	margin-right: 40px;
}

.navbar-default .navbar-nav > li > a.facebook-button {
	background-color: #3b5998;
}

.navbar-default .navbar-nav > li > a.facebook-button:hover {
	color: lightblue;
}
