body.light-background {
  background-color: #BFECE2;
}

/* NAV */

nav.navbar.navbar-default.navbar-fixed-top {
  background-color: #BF4E4C;
  border-color: #BF4E4C;
}

.container-fluid.navbar {
  margin-top: 20px;
  margin-bottom: -20px;
}

.navbar-brand.logo, .navbar-brand.toggle {
  float: none;
  /*margin-top: 20px;*/
}

a.navbar-brand.logo:hover, a.navbar-brand.logo:focus {
  color: #BFECE2;
}

#menu-toggle:hover, #menu-toggle:focus {
  color: #BFECE2;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  position: fixed;
  left: 250px;
  z-index: 1000;
  overflow-y: auto;
  margin-left: -250px;
  width: 0;
  height: 100%;
  background: #BF4E4C;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  margin-top: 60px;
  padding: 15px;
  width: 100%;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media screen and (max-width: 767px) {
  .navbar-brand.toggle {
    float: right;
    margin-top: -50px;
    margin-bottom: -50px;
  }
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  color: #FFF;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

h2.sidebar-heading {
  margin-left: 40px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

img.sidebar-avatar {
  width: 35px;
  height: 35px;
  margin-top: -5px;
  margin-left: 10px;
  border-radius: 30px;
}

.sidebar-profile {
  margin: 75px 0px 35px 0px;
}

.sidebar-user-snippets {
  margin-bottom: 35px;
}

.sidebar-all-snippets {
  margin-bottom: 35px;
}

.sidebar-filters {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand.logo {
    margin-left: 7px;
    font-size: 25px;
  }

  .navbar-form input.form-control {
    margin-left: 15px;
  }
}

/* FORM */
button.btn.btn-default {
  background-color: #d4d8d4;
  border: none;
  color: #111;
}

/* SEARCH */

form.navbar-form.navbar-left.searchbar {
  width: 100%;
}

.form-group.searchbar {
  width: 100%;
}

.navbar-form input.form-control {
  width: 100%;
}

input#search:focus {
  border: none;
}

.row.snippet-card-search-wrapper {
  margin: -20px -50px 20px -50px;
  background-color: #F0CF65;
}

/* SNIPPET CARD */

div .caption {
  margin-top: -20px;
}

.snippet-card-title {
  font-size: 18px;
}

img.snippet-card-avatar {
  width: 35px;
  height: 35px;
  margin-top: -5px;
  margin-right: 5px;
  border-radius: 30px;
}

.snippet-card-heart {
  float: right;
}

.snippet-card-link {
  display: inline;
  font-size: 12px;
}

.snippet-card-link a {
  color: #555;
}

.snippet-card-link a:hover {
  text-decoration: none;
}

.snippet-card-label {
  display: inline;
  float: right;
}

span.label.label-default.button {
  background-color: #BF4E4C;
}

span.label.label-default.button:hover {
  background-color: #BFECE2;
}

span.label.label-default.category {
  background-color: #F0CF65;
}

div.snippet-card-editor {
  font-size: 10px;
  /*ADDED BELOW TO PREVENT TALL SNIPPETS*/
  height: 200px;
}

.snippet-card-resource-heading {
  margin-bottom: -2px;
  font-weight: bold;
}

.snippet-card-resource {
  margin-bottom: -1px;
}

.snippet-card-note-wrapper {
  height: 90px;
  margin-bottom: 5px;
}


/* ADD A SNIPPET */

.ace_gutter, .ace_content {
  padding: 5px;
}

input.add-snippet-url {
  margin-bottom: 10px;
}

.add-snippet-added-resources-item {
  padding: 5px;
}

.add-snippet-added-resources-item:hover {
  background-color: rgba(230, 230, 230, 0.8);
  cursor: pointer;
}

.add-form-invalid-asterisk {
  color: #BF4E4C;
}


/*FAVORITE*/

.fa.fa-heart, .fa.fa-heart-o {
  margin-right: 2px;
  font-size: 21px;
  cursor: pointer;
}

.fa.fa-heart {
  color: #BF4E4C
}

/* LOGIN */

.login-wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.login-logo {
  text-align: center;
}

ul.face-nav {
	margin-bottom: 0;
	padding-left: 0;
	margin-right: 40px;
}

.navbar-default .navbar-nav > li > a.login-button {
	background-color: rgba(44, 62, 80, 0.62);
}

.navbar-default .navbar-nav > li > a.logout-button {
	background-color: rgba(44, 62, 80, 0.62);
	color: red;
}

.navbar-default .navbar-nav > li > a.login-button:hover {
	color: lightblue;
}

div.social-buttons {
  margin-top: 50px;
}

div.social-buttons .row {
	margin: 10px 0;
}

div.social-buttons .row > button {
	width: 100%;
	border: 0;
	border-radius: 5px;
	padding: 10px 0;
}

div.social-buttons .row > button.facebook-link {
	background: #3b5998;
}

div.social-buttons .row > button {
	background: #767676;
}

div.social-buttons .row > button > a {
	width: 100%;
	margin: 0;
	color: white;
}

/* DISABLE BOOTSTRAP NATIVE COLLAPSE */
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
